# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.zip
kernel.errors.txt
*.log

# Model binary weights
# .bin di-track (< 100MB, aman untuk GitHub)
# .pt dan .onnx dikecualikan karena biasanya lebih besar
models/**/*.pt
models/**/*.onnx

# OpenVINO compile cache
models/.ov_cache/
